<include href="views/header.html"></include>

<body>
    <form method="post" action="summary">

        <label>Pet Name:
            <input type="text" name="petName" placeholder="enter a name for your pet">
        </label>
        <br>

            <h3>Choose a size for your pet</h3>

            <repeat group="{{ @sizes }}" value="{{ @sizes }}" >
                <br>
                <div class="form-check">
                    <input type="radio" id="sizes" name="sizes" value="{{ @sizes}}">
                    <label for="sizes">
                        {{ @sizes}}
                    </label>
                </div>
            </repeat>

        <h3>Accessories</h3>
        <!--
        <repeat group="{{ @accessories }}" value="{{ @item }}">
            <input type="checkbox" id="{{ @item }}" name="{{ @accessories}}" value="{{ @item }}">
            <label for="{{ @item }}"> {{ @item }}</label>
            <br>
        </repeat>
        -->
        <repeat group="{{ @accessories}}" value="{{ @item }}">
            <input type="checkbox" id="item" name="accessories[]" value="{{ @item }}">
            <label for="item"> {{ @item }}</label>
            <br>
        </repeat>
        <input type="submit" value="Place Order">
    </form>
</body>
</html>