<include href="views/header.html"></include>

<body>
    <form method="post" action="summary">

        <label>Pet Name:
            <input type="text" name="petName" placeholder="enter a name for your pet">
        </label>
        <br>

            <h3>Choose a size for your pet</h3>
            <repeat group="{{ @sizes }}" value="{{ @sizes }}">
                <br>
                <input type="radio">
                <label >
                    {{ @sizes}}
                </label>
            </repeat>

        <br>
        <br>
        <input type="submit" value="Place Order">
    </form>
</body>
</html>